
.container{
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#myFile{
    background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

#image-slider{
  background-color: #f1f1f1;
}

.green-button{
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
}

.green-button:hover {
  background-color: #4CAF50;
  color: white;
}

.img{
  height: 100px;
  width: 100px;
}

.loading{
  width: 100%;
  min-height: 450px;
  text-align: center;
  display: none;
  background: url(images/tenor.gif) 50% no-repeat;
  border: 1px solid rgb(14, 13, 13);
  border-radius: 5px;
}

.img-loading{
  width: 20px;
  height: 50px;
  background: url(images/loading.gif) 50% no-repeat;
}
.flex-container {
  display: flex;
  justify-content: center;
}